.info-prods{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    display: flex;
    justify-content: center;
    margin: 0 0 20px;
    text-align: center;
}

.info-card{
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    background: white;
}

.titulo{
    font-size: 13px;
    margin-bottom: 10px;
}

.info-card h2{
    margin: 0;
}
